<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Airline</title>
</head>
<body>
    <h2> Add new airline</h2>

    <form method="POST">
        Airline Name: <input type="text" name="airlineName" required><br><br>
        Airline Address: <input type="text" name="airlineAddress" required><br><br>
        <button type="submit">Add Airline</button>
    </form>
    
    <br>
    <button onclick="location.href='/'">Back Home</button>
    
</body>
</html>