<!DOCTYPE html>
<html>
<head>
    <title>Add Baggage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='addBaggage.css') }}">
</head>
<body>

<h1>Add Baggage</h1>

<p>
    Passenger: {{ booking['customerName'] }} {{ booking['bookingID'] }}
</p>

<form method="POST">
    <label>Number of Bags:</label>
    <select name="numberOfBags">
        <option value="1">1 Bag (€25)</option>
        <option value="2">2 Bags (€50)</option>
        <option value="3">3 Bags (€75)</option>
    </select>

    <br><br>

    <button type="submit">Confirm</button>
</form>

</body>
</html>