<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Booking</title>
</head>
<body>
    <h2> Add new booking</h2>

    <form method="POST">
        Flight ID: <input type="text" name="flightID" required><br><br>
        Passenger Name: <input type="text" name="passengerName" required><br><br>
        Passenger Email: <input type="text" name="passengerEmail" required><br><br>
        <button type="submit">Add Booking</button>
    </form>
    
    <br>
    <button onclick="location.href='/'">Back Home</button>
    
</body>
</html>