<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Flight</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='airplane.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/themes/airbnb.css">

    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
</head>
<body>
    <!--<h1> Airplane Booking System</h1>-->

    <div class = "topBar">
        <h1>
             TQHP Bookings 
            <img id="logo" src="{{ url_for('static', filename='Images/sunset logo.png') }}">
        </h1>
    </div>
    
    <div class = "main">
        <div class = "entry">
    <form method="POST">
        <h2> Create a new Flight</h2>
        Departure: <input type="text" name="departure" required><br><br>
        Destination: <input type="text" name="destination" required><br><br>
        Departure Date: <input type = "text" name = "departureDate" id="departureDate" placeholder="  Select departure date" required><br><br>
        DepartureTime: <input type="text" name="departureTime" id = "departureTime" required><br><br>
        Arrival Date: <input type = "text" name = "arrivalDate" id="arrivalDate" placeholder="  Select Arrival date" required><br><br>
        Arrival Time: <input type="text" name="arrivalTime" id = "arrivalTime" required><br><br>
        Number of Seats: <input type="text" name="numberSeats" required><br><br>
        <label for="airline">Airline</label>
      <select name="airline" id="airline" required>
        <option value="">Select an airline</option>
        {% for airline in airlines %}
            <option value="{{ airline[0] }}">{{ airline[1] }}</option>
        {% endfor %}
    </select>
        <br><br>


        

    <button class = "button" type="submit">Add Flight</button>
    <button class = "button"onclick="location.href='/adminLogin'">Back Home</button>
    </form>
    </div>
    </div>
    <div class = bottomBar>
        <h3>© 2026 TQHP AIR</h3>
        </div>


    
</body>
<script>
//For the calendar
flatpickr("#departureDate", {
    dateFormat: "d/m/Y",
    minDate: "today",
    animate: true,
    disableMobile: true
});

flatpickr("#arrivalDate", {
    dateFormat: "d/m/Y",
    minDate: "today",
    animate: true,
    disableMobile: true
});

flatpickr("#departureTime", {
    enableTime: true,
    noCalendar: true,
    dateFormat: "H:i",
    time_24hr: true,
    minuteIncrement: 5
});

flatpickr("#arrivalTime", {
    enableTime: true,
    noCalendar: true,
    dateFormat: "H:i",
    time_24hr: true,
    minuteIncrement: 5
});
</script>
</html>