<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Flight</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='airplane.css') }}">
</head>
<body>
    <!--<h1> Airplane Booking System</h1>-->

    <div class = "topBar">
        <h1>
             TQHP Bookings 
            <img id="logo" src="{{ url_for('static', filename='Images/sunset logo.png') }}">
        </h1>
    </div>
    
    <div class = "main">
        <div class = "entry">
    <form method="POST">
        <h2> Create a new Flight</h2>
        Departure: <input type="text" name="departure" required><br><br>
        Destination: <input type="text" name="destination" required><br><br>
        Departure Date: <input type="text" name="departureDate" required><br><br>
        DepartureTime: <input type="text" name="departureTime" required><br><br>
        Arrival Date: <input type="text" name="arrivalDate" required><br><br>
        Arrival Time: <input type="text" name="arrivalTime" required><br><br>
        Number of Seats: <input type="text" name="numberSeats" required><br><br>
        Airline: <input type="text" name="" required><br><br>

        

    <button class = "button" type="submit">Add Flight</button>
    <button class = "button"onclick="location.href='/admin'">Back Home</button>
    </form>
    </div>
    </div>
    <div class = bottomBar>
        <h3>© 2026 TQHP AIR</h3>
        </div>


    
</body>
</html>