<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Flight</title>
</head>
<body>

    <h2>Delete Flight</h2>

    <form method="POST">

        <!--This is to protect the flight id-->
        <input type="hidden" name="flightID" value="{{ flight['flightNumber'] }}">
        <p>Are you sure you want to delete this flight?</p>
        <button type="submit">Delete Flight</button>
    </form>

    <br>
    <button onclick="location.href='/'">Back Home</button>

</body>
</html>