<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Flight</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='airplane.css') }}">
</head>
<body>
        <div class = "topBar">
        <h1>
             TQHP Bookings 
            <img id="logo" src="{{ url_for('static', filename='Images/sunset logo.png') }}">
        </h1>
    </div>

    <div class = "main">
    <div class = "entry">
    <form method="POST">

        <input type="hidden" name="flightID" value="{{ flight['flightNumber'] }}">
        <h2>Edit Flight</h2>
        Departure:
        <input type="text" name="Departure" value="{{ flight['departure'] }}" required><br><br>

        Destination:
        <input type="text" name="Destination" value="{{ flight['destination'] }}" required><br><br>

        Departure Date:
        <input type="text" name="Departure Date" value="{{ flight['departureDate'] }}" required><br><br>

        Departure Time:
        <input type="text" name="Departure Time" value="{{ flight['departureTime'] }}" required><br><br>

        Arrival Date:
        <input type="text" name="Arrival Date" value="{{ flight['arrivalDate'] }}" required><br><br>

        Arrival Time:
        <input type="text" name="Arrival Time" value="{{ flight['arrivalTime'] }}" required><br><br>

        Number of seats:
        <input type="text" name="Number of seats" value="{{ flight['numberSeats'] }}" required><br><br>

        Airline ID:
        <input type="text" name="Airline ID" value="{{ flight['airlineID'] }}" required><br><br>

        <button class = "button" type="submit">Save Changes</button>
        <button class = "backButton" type ="button" onclick="location.href='/'">Back</button>
    
    </form>

    </div>
    </div>
    <div class = "bottomBar">
        <h3>© 2026 TQHP AIR</h3>
    </div>

   

</body>
</html>
