<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Booking</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='editBooking.css') }}"> 
</head>
<body>

<div id="top">
    <h1>TQHP Bookings</h1>
    <img id="logo" src="{{ url_for('static', filename='Images/sunset logo.png') }}">
</div>

<div id="main">

    <div id="backButton">
        <button onclick="location.href='/retrieveBooking'">← Back to Booking Search</button>
    </div>

    <div id="info">
        <form method="POST">

            <input type="hidden" name="bookingID" value="{{ booking['bookingID'] }}">

            <div class="Entries">
                <label>Name</label>
                <input type="text" name="customerName" value="{{ booking['customerName'] }}" readonly>
                <div id="subtle-text">Call the service team to change your name</div>
            </div>

            <div class="Entries">
                <label>Email</label>
                <input type="text" name="customerEmail" value="{{ booking['customerEmail'] }}" required>
            </div>

            <div class="Entries">
                <label>Phone Number</label>
                <input type="text" name="customerPhoneNum" value="{{ booking['customerPhoneNum'] }}" required>
            </div>

            <div class="Entries">
                <label>Change Seat</label>
                <input type="text" name="seatNumber" value="{{ booking['seatNumber'] }}" required>
            </div>


            <div class="Buttons">
                <button class="cancel" type = "button" onclick="location.href='/deleteBooking/{{ booking['bookingID'] }}'">Cancel Booking</button>
                <button class="save" type="submit">Save Changes</button>
            </div>

        </form>
    </div>
</div>

<div class="bottom">
    © 2026 TQHP Airlines
    <br>
<div id="buttons">
    <button>Contact</button>
    <span class="divider">|</span>
    <button>Help</button>
    <span class="divider">|</span>
    <button onclick="location.href='/terms'">Terms</button>
</div>

</div>

</body>
</html>
