<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Flight</title>
</head>
<body>

    <h2>Edit Flight {{ flight['flightNumber'] }}</h2>

    <form method="POST">

        <!--This is to protect the flight id-->
        <input type="hidden" name="flightID" value="{{ flight['flightNumber'] }}">

        Departure:
        <input type="text" name="Departure" value="{{ flight['departure'] }}" required><br><br>

        Destination:
        <input type="text" name="Destination" value="{{ flight['destination'] }}" required><br><br>

        Departure Date:
        <input type="text" name="Departure Date" value="{{ flight['departureDate'] }}" required><br><br>

        Departure Time:
        <input type="text" name="Departure Time" value="{{ flight['departureTime'] }}" required><br><br>

        Arrival Date:
        <input type="text" name="Arrival Date" value="{{ flight['arrivalDate'] }}" required><br><br>

        Arrival Time:
        <input type="text" name="Arrival Time" value="{{ flight['arrivalTime'] }}" required><br><br>

        Number of seats:
        <input type="text" name="Number of seats" value="{{ flight['numberSeats'] }}" required><br><br>

        Airline ID:
        <input type="text" name="Airline ID" value="{{ flight['airlineID'] }}" required><br><br>

        <button type="submit">Save Changes</button>
    </form>

    <br>
    <button onclick="location.href='/'">Back Home</button>

</body>
</html>
