<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Booking</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='editBooking.css') }}"> 
</head>
<body>

<div id="entry">

    <form method="POST">

    <input type="hidden" name="bookingID" value="{{ booking['bookingID'] }}">

    <label>Name</label>
    <input type="text" name="creditCardName" value="{{ booking['creditCardName'] }}"required>
    <h4>Call the service team to change your name</h4>

    <label>Email</label>
    <input type="text" name="creditCardNumber"value="{{ booking['creditCardNumber'] }}"required>

    <label>Phone Number</label>
    <input type="text" name="creditCardCvv" value="{{ booking['creditCardCvv'] }}" required>

    <label>Change Seat</label>
    <input type="text" name="creditCardExpiry" value="{{ booking['creditCardExpiry'] }}" required>
    
    <label>Bagge Options</label>

    <label>Cancel Booking</label>
    
    <br>

<button type="submit">Save Changes</button>

<button type="button" onclick="location.href='/'">
Back 
</button>

</form>

</div>

</body>
</html>
