<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flight Booking system</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='airplane.css') }}">

</head>
<body id = "homeBody">
    <!--<h1> Airplane Booking System</h1>-->

    <div class = "topBar">
        <h1>
                   TQHP Bookings 
    <img id="logo" src="{{ url_for('static', filename='Images/sunset logo.png') }}">
        </h1>
    </div>
    
    <div class = "main">

    <div id = "inputDiv">
        Enter flight id
        <input name = "id" id = "flightInput" required> 
        <button id = "Go"onclick = "goToAction(this)">Go</button>
        <button id = "Delete"onclick = "goToAction(this)">Delete</button>
        <button id = "back" onclick = "show()"> Back</button>
    </div>

    <div id = "crudButtons">
    <div>
    <button onclick="location.href='/addFlight'">Add Flights</button></div>
    <div><button onclick="location.href='/showFlights'">Show Flights</button></div>
    <div><button onclick="location.href='/searchFlights'">Search Flight</button></div>
    <div><button id = "Delete Flight" onclick=hide(this)>Delete Flight</button></div>
    <div><button id = "Edit Flight"onclick=hide(this)>Edit Flight</button></div>
    </div>
    </div>
    <div class = bottomBar>
        <h3>© 2026 TQHP AIR</h3>
        </div>

     <script>
        //hide the crudButtons division
        function hide(button){
        document.getElementById("crudButtons").style.display = "none";
        document.getElementById("inputDiv").style.display = "flex";
        
            if(button.id === "Edit Flight"){
                document.getElementById("Go").style.display = "inline-block";
                document.getElementById("Delete").style.display = "none"
            }
            else if(button.id === "Delete Flight"){      
                document.getElementById("Delete").style.display = "inline-block";
                document.getElementById("Go").style.display = "none"
            }
        }

        function show(){//show the crudbuttons division
            document.getElementById("inputDiv").style.display = "none";
            document.getElementById("crudButtons").style.display = "flex";
           
        }

function goToAction(button){

    let id = document.getElementById("flightInput").value.trim();
    let regex = /^\d+$/;
    if(id === "" || !regex.test(id)){//checks to see if the id is valid input
    alert("Please enter a valid numeric flight ID");
        return;
    }
    //if structure checks for which button called the function
    if(button.id === "Go"){

        location.href = "/editFlight/" + id;
    }
    else if(button.id==="Delete"){
        location.href = "/deleteFlight/" + id;
    }
    document.getElementById("flightInput").value = "";

}
    </script> 
</body>

</html>