<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flight Booking system</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='airplane.css') }}">

</head>
<body>
    <!--<h1> Airplane Booking System</h1>-->

    <div class = "topBar">
        <h1>
            TQHP AIR
        </h1>
    </div>
    
    <div class = "main">
    <button id = "login" onclick="login()">Login</button> 
    <div id = "crudButtons">
    <div>
    <button onclick="location.href='/addFlight'">Add Flights(admin)</button></div>
    <div><button onclick="location.href='/showFlights'">Show Flights</button></div>
    <div><button onclick="location.href='/searchFlights'">Search Flight</button></div>
    <div><button onclick="location.href=goToDelete()">Delete Flight</button></div>
    <div><button onclick="goToEdit()">Edit Flight(admin)</button></div>
    </div>
    </div>
    <div class = bottomBar>
        <h3>© 2026 TQHP AIR</h3>
        </div>

     <script>
        function goToEdit(){
            let id = prompt("Enter the flightID you want to edit")
                location.href = "/editFlight/" + id;
        }

        function login(){
            //Shows the buttons
            document.getElementById("crudButtons").classList.toggle("show");
            //hides the login
            document.getElementById("login").style.display="none";
        }
        function goToDelete(){
            let id = prompt("Enter the flightID you want to delete")
                location.href = "/deleteFlight/" + id;
        }
        </script> 
</body>

</html>