<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Flights</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='searchFlights.css') }}">
</head>
<body>
          <div id="plain">
        <div class="header-content">
            <h1>TQHP Bookings</h1>
            <img id="logo" src="{{ url_for('static', filename='Images/sunset logo.png') }}">
        </div>
    </div>

    <div id = "main">
    <div id = "display">
    {% if flights %}
    <h3>Results</h3>
    <table border="1">
        <tr>
            <th>Flight No</th>
            <th>Departure</th>
            <th>Destination</th>
            <th>Departure Date</th>
            <th>Departure Time</th>
            <th>Arrival Date</th>
            <th>Arrival Time</th>
            <th>Seats</th>
        </tr>

        {% for flight in flights %}
        <tr>
            <td>{{ flight.flightNumber }}</td>
            <td>{{ flight.departure }}</td>
            <td>{{ flight.destination }}</td>
            <td>{{ flight.departureDate }}</td>
            <td>{{ flight.departureTime }}</td>
            <td>{{ flight.arrivalDate }}</td>
            <td>{{ flight.arrivalTime }}</td>
            <td>{{ flight.numberSeats }}</td>

            <td>
                <a href="/selectSeat/{{ flight.flightNumber }}">
                    <button>Book</button>
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    </div>
    <button class = "button"onclick="location.href='/'">Back Home</button>
    <br>
    
    </div>
    
        <div id = "bottom">
    
    <div id = "rights">
        © 2026 TQHP Bookings. All rights reserved.
    
</div>

</div>
</body>
</html>