<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search FLights</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='airplane.css') }}">
</head>
<body>
            <div class = "topBar">
        <h1>
             TQHP Bookings 
            <img id="logo" src="{{ url_for('static', filename='Images/sunset logo.png') }}">
        </h1>
    </div>

    <div class = "main">
    <div id = "display">
    {% if flights %}
    <h3>Results</h3>
    <table border="1">
        <tr>
            <th>Flight No</th>
            <th>Departure</th>
            <th>Destination</th>
            <th>Departure Date</th>
            <th>Departure Time</th>
            <th>Arrival Date</th>
            <th>Arrival Time</th>
            <th>Seats</th>
        </tr>

        {% for flight in flights %}
        <tr>
            <td>{{ flight.flightNumber }}</td>
            <td>{{ flight.departure }}</td>
            <td>{{ flight.destination }}</td>
            <td>{{ flight.departureDate }}</td>
            <td>{{ flight.departureTime }}</td>
            <td>{{ flight.arrivalDate }}</td>
            <td>{{ flight.arrivalTime }}</td>
            <td>{{ flight.numberSeats }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    </div>

    <br>
    
    </div>
    
    
        <div class = bottomBar>
        <h3>© 2026 TQHP AIR</h3>
        </div>
</body>
</html>