<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seat Selection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='selectSeat.css') }}">
</head>

<body>


    <div class="topBar">
         <h1>Select Seat</h1>

<div class="seat-container">


<table border="1">

<tr>
{% for seat in seats %}

<td>

{% if seat.bookingID == None %}

<button type="button" class = "seatButton" onclick="selectSeat('{{ seat.seatID }}', this)">
{{ seat.seatNumber }}
</button>

{% else %}

<button class = "seatButton-booked"disabled style="background-color: grey;">
{{ seat.seatNumber }}
</button>

{% endif %}

</td>

{% if loop.index % 6 == 0 %}
</tr><tr>
{% endif %}

{% endfor %}
</tr>
</table>
<form id = "paymentForm"method="POST" action="/addBooking">

<input type="hidden" name="flightID" value="{{ flightID }}">
<input type="hidden" id="seatID" name="seatID">

<h3>Passenger Details</h3>

Name:
<input type="text" name="customerName" required>

Address:
<input type="text" name="customerAddress" required>

Email:
<input type="email" name="customerEmail" required>

Phone:
<input type="text" name="customerPhoneNum" minlength = "10" maxlength = "10"required>

<h3>Payment Details</h3>

Card Name:
<input type="text" id = "creditCardName"  name="creditCardName" required>

Card Number:
<input type="text" id="creditCardNumber"name="creditCardNumber" minlength = "16" maxlength = "16" required>
<br>
CVV:
<input type="text" id="creditCardCvv"name="creditCardCvv" minlength = "3"maxlength = "3" required>

Expiry:
<input type="text" id ="creditCardExpiry" name="creditCardExpiry" placeholder="MM/YY" required>

<button type="submit" onclick="return checkSeat()">Confirm Booking (€100)</button>

</form>
<div id = "errordiv"></div>
</div>

</body>

</html>

<script>
    document.getElementById("paymentForm").addEventListener("submit", function(e) {
    e.preventDefault(); //This prevents the form from being submitted

    let errors = [];

    const name = document.getElementById("creditCardName").value.trim();
    if (!/^[A-Za-z ]+$/.test(name) || name.length < 3) {
        errors.push("Please enter a valid cardholder name.");
    }


    const number = document.getElementById("creditCardNumber").value.trim();
    if (!/^[0-9]{16}$/.test(number)) {
        errors.push("Card number must be 16 digits.");
    }

    const expiry = document.getElementById("creditCardExpiry").value.trim();
    if (!/^(0[1-9]|1[0-2])\/\d{2}$/.test(expiry)) {
        errors.push("Expiry date must be in MM/YY format.");
    } else {
        const [month, year] = expiry.split("/");
        const now = new Date();
        const expDate = new Date(`20${year}`, month);

        if (expDate < now) {
            errors.push("Your card has expired.");
        }
    }


    const cvv = document.getElementById("creditCardCvv").value.trim();
    if (!/^[0-9]{3}$/.test(cvv)) {
        errors.push("CVV must be 3 digits.");
    }

    //edit division to show error
    const errorBox = document.getElementById("errordiv");
    if (errors.length > 0) {
        errorBox.innerHTML = errors.join("<br>");
        errorBox.style.display = "block";
        errorBox.style.color = "red";
    } else {
        errorBox.style.display = "none";
        this.submit(); //submitting our form
    }
});

function selectSeat(seatID){
    document.getElementById("seatID").value = seatID;
}

function checkSeat(){
    const seat = document.getElementById("seatID").value;
    if(seat === ""){
        alert("Please select a seat first.");
        return false;
    }
    return true;
}

function selectSeat(seatID, btn){
    document.getElementById("seatID").value = seatID;

    //remove highlight from all seats
    document.querySelectorAll(".seatButton").forEach(b => b.classList.remove("selected"));

    //highlight selected seat
    btn.classList.add("selected");
}

</script>

