<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Booking</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='showBooking.css') }}"> 
</head>
<body>

<div id="top">
    <h1>TQHP Bookings</h1>
    <img id="logo" src="{{ url_for('static', filename='Images/sunset logo.png') }}">
</div>


<div id="main">

<div id="backButton">
<button onclick="location.href='/retrieveBooking'">
← Back to Booking Search
</button>

<button onclick="location.href='/addBaggage/{{ booking.bookingID }}/'">
    Add Baggage
</button>
</div>


<div id="info">

<div id="info-header">

<h2>Flight Details</h2>
<h3>Booking Reference: {{ booking['bookingID'] }}</h3>

</div>


<div id="info-summary">

<h2>{{ booking['departure'] }} → {{ booking['destination'] }}</h2>

<p>Travel Date: {{ booking['departureDate'] }}</p>

</div>


<div id="info-detailed">

<div id="airlinedetails">
<h3>Operated By: {{ booking['airlineName'] }}</h3>
</div>


<div id="info-detailed-schedule">

<div id="departureDetails" class="details">

<h4>📅 {{ booking['departureDate'] }}</h4>
<h3>⏰ {{ booking['departureTime'] }}</h3>
<h4>{{ booking['departure'] }}</h4>

</div>


<div class="divider">

✈───────────✈
<br>
💺 Seat: {{ booking['seatNumber'] }}

</div>


<div id="arrivalDetails" class="details">

<h4>📅 {{ booking['arrivalDate'] }}</h4>
<h3>⏰ {{ booking['arrivalTime'] }}</h3>
<h4>{{ booking['destination'] }}</h4>

</div>

</div>

</div>

</div>

</div>
<div id="extra">

<div id="extra-info">

<h2>Get ready for your trip</h2>

<p>
Prepare your travel documents before departure.
If needed you can edit your booking details below.
</p>


<h2>Manage my booking</h2>


<a href="/editBooking/{{ booking['bookingID'] }}" id="bookingName" class="booking-card">

<div class="card-left">
<img class="ticket-icon"
src="{{ url_for('static', filename='Images/ticket.png') }}">
</div>


<div class="card-middle">

<span class="code">
Booking code: {{ booking['bookingID'] }}
</span>

<span class="name">
Name: {{ booking['customerName'] }}
</span>

</div>


<div class="card-right">
<span class="arrow">→</span>
</div>

</a>


</div>

</div>



<div class="bottom">

© 2026 TQHP Airlines
<br>
<div id="buttons">
    <button>Contact</button>
    <span class="divider">|</span>
    <button>Help</button>
    <span class="divider">|</span>
    <button onclick="location.href='/terms'">Terms</button>
</div>

</div>


</body>


</html>