
html, body{
    height:100%;
    margin: 0;
    padding:0;
    width: 100%
}

@font-face
 { 
    font-family: 'Travelnesia'; 
    src: url('/static/fonts/Travelnesia DEMO.otf') format('opentype');
    font-weight: normal; 
    font-style: normal; 
}

#homeBody{
    font-family: 'Travelnesia', sans-serif;
    background: url("/static/Images/Sunset.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}
body {
    font-family: 'Travelnesia', sans-serif;
    background: 
        url("/static/Images/Sunset.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
}
.topBar {
    font-family:'Travelnesia', sans-serif;
    height: 15%;
    display: flex;
    align-items: center;    
    justify-content: center;
    gap: 15px;
    padding-left: 20px;
    font-size: 25px;
    background: linear-gradient(180deg, #0A1A2F, #004AAD);
    color: white;
}
#logo {
    height: 100px;  
    width: auto;
}

.main {
    height: 70%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 30px;
}
.entry {
    display: flex;                
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(0, 74, 173, 0.25);
    backdrop-filter: blur(4px);
    color: white;
    padding: 30px;
    width: 500px;
    border-radius: 15px;           
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);  
    position: relative;
}


.bottomBar {
    height: 15%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#crudButtons {
    display: none;            
    flex-direction: column;   
    gap: 20px;                
    width: 100%;
    align-items: center;      
}

#crudButtons.show {
    display: flex;
}

button {
  background: #004AAD;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s ease; 
  width: 210px;  
}


button:hover {
  background: #1a5fd1;         
  transform: scale(1.05);      
}



input {
    padding: 5px;
    border-radius: 10px;
    border: none;
}

#inputDiv{
    display: none;
    background: rgba(0, 74, 173, 0.25);
    backdrop-filter: blur(4px);
    color: white;
    padding: 30px;
    width: 500px;
    border-radius: 15px;           
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);  
    position: relative;
    gap:20px;
    
}
#inputDiv.show {
    display: flex;
}
#inputDiv.none {
    display: none;
}

#display {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(0, 74, 173, 0.25);
    backdrop-filter: blur(4px);
    color: white;
    padding: 30px;
    width: 90%;
    max-width: 1000px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    
    /*important for placing it in center*/
    margin: 50px auto; 
}
#display table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    text-align: center;
}