@font-face {
    font-family: 'KudryashevDisplay';
    src: url('/static/fonts/kudryashev-display-regular.ttf') format('truetype');
}

body {
    margin: 0;
    font-family: 'Segoe UI', Arial, sans-serif;
    background: #f5f3ef;
    color: #0A1A2F;
}

.topBar {
    background: #0A1A2F;
    color: white;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 3px solid white;
    height: 20%;
    font-family: 'KudryashevDisplay';
}

#logo {
    height: 100px;
    width: auto;
}

.main {
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

button {
    width: 220px;
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    background: #0A1A2F;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

#display {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(0, 74, 173, 0.25);
    backdrop-filter: blur(4px);
    color: black;
    padding: 30px;
    width: 90%;
    max-width: 1000px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    margin: 50px auto; 
}

#display table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    text-align: center;
}



.seat-container {
    background: white;
    width: 900px;
    margin: 40px auto;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.15);
}


.seat-container input {
    padding: 10px;
    margin: 10px;
    width: 200px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.seatButton {
    width: 60px;
    height: 60px;
    border-radius: 12px;
    border: none;
    background: #0A1A2F;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.25s ease;
}

.seatButton:hover {
    background: #1E3A5F;
    transform: scale(1.05);
}

.seatButton.selected {
    background: #3A6EA5;
    box-shadow: 0 0 10px rgba(58,110,165,0.6);
}

.seatButton.booked {
    background: #999;
    cursor: not-allowed;
}

.seat-container table {
    margin-bottom: 25px;
}

td:nth-child(3) {
    padding-right: 30px;
}

td:nth-child(4) {
    padding-left: 30px;
}
td {
    padding: 6px;
}

td button {
    width: 150px;
    height: 45px;
}
table {
    margin: auto;
}