@font-face {
    font-family: 'KudryashevDisplay';
    src: url('/static/fonts/kudryashev-display-regular.ttf') format('truetype');
}

html, body {
    margin: 0;
    width: 100%;
    font-family: 'KudryashevDisplay', sans-serif;
   }

body {
    margin: 0;
    background: #f5f3ef; 
    color: #4a4a4a;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#top {
    background: #0A1A2F;
    color: white;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 3px solid white;
    height: 20%;
}

#logo {
    height: 100px;
    width: auto;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 25px;
    font-size: 16px;
    transition: 0.2s;
}

.nav-links a:hover {
    opacity: 0.7;
}


.container {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 40px 20px;
}

.card {
    background: white;
    padding: 40px 50px;
    border-radius: 14px;
    width: 700px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.12);
    border: 1px solid #dcd9d3;
}

h2 {
    color: #0A1A2F;
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 600;
}

h3 {
    color: #0A1A2F;
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 20px;
}

p {
    font-size: 16px;
    line-height: 1.6;
}


.btn-primary {
    background: #0A1A2F;
    color: white;
    border: none;
    padding: 14px 20px;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    font-size: 17px;
    font-weight: 600;
    margin-top: 30px;
    transition: 0.25s ease, transform 0.15s ease;
}

.btn-primary:hover {
    background: #122a4a;
    transform: scale(1.02);
}


.footer {
    background: #0A1A2F;
    color: white;
    text-align: center;
    padding: 14px 0;
    font-size: 14px;
}
